In [1]:
count = 0

while count < 3:
    print("Loading data... attempt", count + 1)
    count += 1

Loading data... attempt 1
Loading data... attempt 2
Loading data... attempt 3

In [2]:
clients = [
{"name":"rem","age":35,"spend":5000},
{"name":"rem2","age":25,"spend":50},
{"name":"rem3","age":35,"spend":0},
{"name":"rem4","age":25,"spend":5000},
]
for client in clients:
    if client["age"] > 30 and client["spend"] > 1000:
        print (client["name"],"high value")
    elif  client["age"] < 30 and client["spend"] < 1000:
        print(client["name"],"low value")
    elif client["spend"] == 0:
        continue
    else:
        print(client["name"],"regular")

rem high value
rem2 low value
rem4 regular

In [4]:
age = input("Enter your age: ")

while not age.isdigit():
    print("Please enter a valid number.")
    age = input("Enter your age: ")

age = int(age)
print("Your age is", age)

Enter your age:  5

Your age is 5

In [7]:
def clean_column(name):
    return name.strip().upper()

clean_column(" RemeSDFGHJKLdan ")  # Output: remedan

'REMESDFGHJKLDAN'

In [13]:
def total_spend(spend_list):
    return sum(spend_list)

result = total_spend([100, 200, 50])
print(result)  # Output: 350

350

In [14]:
def total_spend(spend_list):
    return sum(spend_list)

result = total_spend([100, 200, 50])
result  # Output: 350

350

In [21]:
def total_spend(spend_list):
    return sum(spend_list)

total_spend([100, 200, 50])

350

In [1]:
prices = [50, 80, 120]

# Add a 20% discount to each price
discounted = list(map(lambda p: p * 0.8, prices))

print("Original:", prices)
print("Discounted:", discounted)

Original: [50, 80, 120]
Discounted: [40.0, 64.0, 96.0]

In [3]:
x = 100  # global

def multiply():
    x = 5  # local
    return x * 2

print(multiply())  # 10
print(x)  # 10

10
100

In [13]:
def factorial(n):
    if n == 1:
        return 1
    else:
        return n * factorial(n - 1)

print(factorial(5))  # Output: 120

120

In [15]:
daily_sales = [230, 450, 390, 610, 510]
average_sales = sum(daily_sales) / len(daily_sales)
print("Average daily sales",average_sales)

Average daily sales 438.0

In [17]:
coordinates = [(35.2, 9.3), (35.3, 9.5), (35.5, 9.8)]  # List of tuples
for lat, lon in coordinates:
    print("Latitude:",lat, "Longitude:",lon)

Latitude: 35.2 Longitude: 9.3
Latitude: 35.3 Longitude: 9.5
Latitude: 35.5 Longitude: 9.8

In [18]:
clients = [
    {"name": "Ali", "spend": 4000},
    {"name": "Hana", "spend": 9000}
]
for client in clients:
    if client["spend"] > 5000:
        print(client["name"], "is a premium client.")

Hana is a premium client.

In [21]:
with open("data.txt", "r") as file:
    content = file.read()
    print(content)

with open("data.txt", "r") as file:
    content = file.read()
    print(content)
clients = [
    {"name": "Ali", "spend": 4000},
    {"name": "Hana", "spend": 9000}
]
for client in clients:
    if client["spend"] > 5000:
        print(client["name"], "is a premium client.")

In [22]:
with open("data.txt", "r") as file:
    for line in file:
        print(line.strip())

with open("data.txt", "r") as file:
content = file.read()
print(content)
clients = [
{"name": "Ali", "spend": 4000},
{"name": "Hana", "spend": 9000}
]
for client in clients:
if client["spend"] > 5000:
print(client["name"], "is a premium client.")

In [23]:
with open("data.txt", "w") as file:
    file.write("Hello, this is a data science log.\n")

In [24]:
with open("data.txt", "r") as file:
    content = file.read()
    print(content)

Hello, this is a data science log.

In [33]:
with open("data.txt", "a") as file:
    file.write("Hello, this is a data sciencgtggggggggggggggggge log.\n")

In [34]:
with open("data.txt", "r") as file:
    content = file.read()
    print(content)

4. Sets Hello, this is a data science log.
with open("data.txt", "r") as file:
    content = file.read()
    print(content)
Hello, this is a data science log.
Hello, this is a data sciencgtggggggggggggggggge log.
Hello, this is a data sciencgtggggggggggggggggge log.
Hello, this is a data sciencgtggggggggggggggggge log.
Hello, this is a data sciencgtggggggggggggggggge log.

In [39]:
import csv

with open("Region Data.csv", "r") as f:
    reader = csv.DictReader(f)
    for row in reader:
        print(row["ADM1_EN"], row["ADM1_PCODE"])

Addis Ababa ET14
Afar ET02
Amhara ET03
Benishangul Gumz ET06
Central Ethiopia ET08
Dire Dawa ET15
Gambela ET12
Harari ET13
Oromia ET04
Sidama ET16
Somali ET05
South Ethiopia ET07
South West Ethiopia ET11
Tigray ET01

In [40]:
import pandas as pd

# Read the full Excel file
df = pd.read_excel("Region Data.xlsx")

# Print the entire DataFrame
print(df)

                ADM1_EN ADM1_PCODE  Kindergarten Schools  \
0           Addis Ababa       ET14                1133.0
1                  Afar       ET02                  65.0
2                Amhara       ET03                 564.0
3      Benishangul Gumz       ET06                  48.0
4      Central Ethiopia       ET08                 372.0
5             Dire Dawa       ET15                  64.0
6               Gambela       ET12                  44.0
7                Harari       ET13                  59.0
8                Oromia       ET04               11703.0
9                Sidama       ET16                 301.0
10               Somali       ET05                  92.0
11       South Ethiopia       ET07                 344.0
12  South West Ethiopia       ET11                 120.0
13               Tigray       ET01                   NaN

    Primary & Middle Schools  Secondary Schools  \
0                      792.0              226.0
1                      825.0               56.0
2                     9604.0              685.0
3                      617.0               93.0
4                     2033.0              295.0
5                      145.0               33.0
6                      311.0               75.0
7                       89.0               18.0
8                    15315.0             1369.0
9                     1334.0              122.0
10                    2126.0              272.0
11                    2573.0              336.0
12                    1551.0              182.0
13                       NaN                NaN

    Primary/Middle Schools with Electricity  \
0                                     706.0
1                                      79.0
2                                    2051.0
3                                     108.0
4                                     894.0
5                                     100.0
6                                      91.0
7                                      64.0
8                                    4601.0
9                                     522.0
10                                    201.0
11                                    866.0
12                                    332.0
13                                      NaN

    Primary/Middle Schools with Water  Primary/Middle Schools with Library  \
0                               701.0                                688.0
1                                78.0                                 32.0
2                               774.0                               3446.0
3                               129.0                                 82.0
4                               623.0                               1010.0
5                               104.0                                 87.0
6                                48.0                                 39.0
7                                40.0                                 46.0
8                              5331.0                               6443.0
9                               406.0                                771.0
10                              142.0                                 17.0
11                              741.0                               1079.0
12                              278.0                                705.0
13                                NaN                                  NaN

    Primary/Middle Schools with Lab  Primary/Middle Schools with Peda Center  \
0                             583.0                                    666.0
1                              14.0                                     27.0
2                            1125.0                                   3828.0
3                              14.0                                    171.0
4                             472.0                                    911.0
5                              23.0                                     81.0
6                               6.0                                     31.0
7                              30.0                                     24.0
8                             869.0                                   3828.0
9                             326.0                                    415.0
10                             14.0                                     42.0
11                            468.0                                    913.0
12                            147.0                                    829.0
13                              NaN                                      NaN

    Secondary Schools with Electricity  Secondary Schools with Water  \
0                                201.0                         211.0
1                                 16.0                          10.0
2                                435.0                         166.0
3                                 37.0                          24.0
4                                245.0                         159.0
5                                 30.0                          30.0
6                                 28.0                           9.0
7                                 12.0                          10.0
8                               1104.0                         820.0
9                                 96.0                          74.0
10                                68.0                          57.0
11                               249.0                         172.0
12                               140.0                          55.0
13                                 NaN                           NaN

    Secondary Schools with Library  Secondary Schools with Peda Center  \
0                            196.0                               156.0
1                              8.0                                 6.0
2                            396.0                               296.0
3                             28.0                                32.0
4                            214.0                               182.0
5                             28.0                                21.0
6                             14.0                                 6.0
7                             11.0                                 8.0
8                           1045.0                               648.0
9                            113.0                                82.0
10                            29.0                                11.0
11                           243.0                               196.0
12                           136.0                               132.0
13                             NaN                                 NaN

    Total Teachers  Total Students
0          64449.0        1294610.0
1           7393.0         253258.0
2         200047.0        3617711.0
3           9858.0         326362.0
4          46844.0        2136372.0
5           4338.0         148559.0
6           5927.0         208737.0
7           3036.0          87947.0
8         252762.0       11992342.0
9          44209.0        1400835.0
10         18615.0         973631.0
11         64137.0        2559297.0
12         32501.0        1254865.0
13             NaN              NaN

In [41]:
import pandas as pd

df = pd.read_excel("Region Data.xlsx")

# Print the full DataFrame as a clean table
print(df.to_string(index=False))  # Removes the row numbers (index)

            ADM1_EN ADM1_PCODE  Kindergarten Schools  Primary & Middle Schools  Secondary Schools  Primary/Middle Schools with Electricity  Primary/Middle Schools with Water  Primary/Middle Schools with Library  Primary/Middle Schools with Lab  Primary/Middle Schools with Peda Center  Secondary Schools with Electricity  Secondary Schools with Water  Secondary Schools with Library  Secondary Schools with Peda Center  Total Teachers  Total Students
        Addis Ababa       ET14                1133.0                     792.0              226.0                                    706.0                              701.0                                688.0                            583.0                                    666.0                               201.0                         211.0                           196.0                               156.0         64449.0        1294610.0
               Afar       ET02                  65.0                     825.0               56.0                                     79.0                               78.0                                 32.0                             14.0                                     27.0                                16.0                          10.0                             8.0                                 6.0          7393.0         253258.0
             Amhara       ET03                 564.0                    9604.0              685.0                                   2051.0                              774.0                               3446.0                           1125.0                                   3828.0                               435.0                         166.0                           396.0                               296.0        200047.0        3617711.0
   Benishangul Gumz       ET06                  48.0                     617.0               93.0                                    108.0                              129.0                                 82.0                             14.0                                    171.0                                37.0                          24.0                            28.0                                32.0          9858.0         326362.0
   Central Ethiopia       ET08                 372.0                    2033.0              295.0                                    894.0                              623.0                               1010.0                            472.0                                    911.0                               245.0                         159.0                           214.0                               182.0         46844.0        2136372.0
          Dire Dawa       ET15                  64.0                     145.0               33.0                                    100.0                              104.0                                 87.0                             23.0                                     81.0                                30.0                          30.0                            28.0                                21.0          4338.0         148559.0
            Gambela       ET12                  44.0                     311.0               75.0                                     91.0                               48.0                                 39.0                              6.0                                     31.0                                28.0                           9.0                            14.0                                 6.0          5927.0         208737.0
             Harari       ET13                  59.0                      89.0               18.0                                     64.0                               40.0                                 46.0                             30.0                                     24.0                                12.0                          10.0                            11.0                                 8.0          3036.0          87947.0
             Oromia       ET04               11703.0                   15315.0             1369.0                                   4601.0                             5331.0                               6443.0                            869.0                                   3828.0                              1104.0                         820.0                          1045.0                               648.0        252762.0       11992342.0
             Sidama       ET16                 301.0                    1334.0              122.0                                    522.0                              406.0                                771.0                            326.0                                    415.0                                96.0                          74.0                           113.0                                82.0         44209.0        1400835.0
             Somali       ET05                  92.0                    2126.0              272.0                                    201.0                              142.0                                 17.0                             14.0                                     42.0                                68.0                          57.0                            29.0                                11.0         18615.0         973631.0
     South Ethiopia       ET07                 344.0                    2573.0              336.0                                    866.0                              741.0                               1079.0                            468.0                                    913.0                               249.0                         172.0                           243.0                               196.0         64137.0        2559297.0
South West Ethiopia       ET11                 120.0                    1551.0              182.0                                    332.0                              278.0                                705.0                            147.0                                    829.0                               140.0                          55.0                           136.0                               132.0         32501.0        1254865.0
             Tigray       ET01                   NaN                       NaN                NaN                                      NaN                                NaN                                  NaN                              NaN                                      NaN                                 NaN                           NaN                             NaN                                 NaN             NaN              NaN

In [51]:
try:
    with open("Region Data.csv", "r") as file:
        content = file.read()
        print (content)
except FileNotFoundError:
    print("File not found. Please check the path.")

ADM1_EN,ADM1_PCODE,Kindergarten Schools,Primary & Middle Schools,Secondary Schools,Primary/Middle Schools with Electricity,Primary/Middle Schools with Water,Primary/Middle Schools with Library,Primary/Middle Schools with Lab,Primary/Middle Schools with Peda Center,Secondary Schools with Electricity,Secondary Schools with Water,Secondary Schools with Library,Secondary Schools with Peda Center,Total Teachers,Total Students ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Addis Ababa,ET14,1133,792,226,706,701,688,583,666,201,211,196,156,"64,449",1294610,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Afar,ET02,65,825,56,79,78,32,14,27,16,10,8,6,"7,393",253258,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Amhara,ET03,564,9604,685,"2,051",774,"3,446","1,125","3,828",435,166,396,296,"200,047",3617711,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Benishangul Gumz,ET06,48,617,93,108,129,82,14,171,37,24,28,32,"9,858",326362,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Central Ethiopia,ET08,372,"2,033",295,894,623,"1,010",472,911,245,159,214,182,"46,844",2136372,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Dire Dawa,ET15,64,145,33,100,104,87,23,81,30,30,28,21,"4,338",148559,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Gambela,ET12,44,311,75,91,48,39,6,31,28,9,14,6,"5,927",208737,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Harari,ET13,59,89,18,64,40,46,30,24,12,10,11,8,"3,036",87947,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Oromia,ET04,11703,"15,315","1,369",4601,"5,331","6,443",869,"3,828","1,104",820,"1,045",648,"252,762",11992342,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Sidama,ET16,301,1334,122,522,406,771,326,415,96,74,113,82,"44,209",1400835,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Somali,ET05,92,2126,272,201,142,17,14,42,68,57,29,11,"18,615",973631,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
South Ethiopia,ET07,344,2573,336,866,741,"1,079",468,913,249,172,243,196,"64,137",2559297,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
South West Ethiopia,ET11,120,1551,182,332,278,705,147,829,140,55,136,132,"32,501",1254865,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Tigray,ET01,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,